.login {
    height: 100%;
    .login-header {
        height: 60px;
        border-bottom: 1px solid #D7D8D9;
        background-color: #f5f5f6;
    }
    .login-body {
        height: calc(100% - 60px);
        background-color: #F5F5F6;
        padding: 80px 0;
        text-align: center;
        .login-form {
            margin: auto;
            width: 1000px;
            border: none;
            background-color: #fff;
            min-height: 400px;
            .login-content {
                width: 320px;
                margin: 0 auto;
                text-align: center;
                .login-title{
                    padding-top: 40px;
                    font-size: 30px;
                    color: #373d41;
                    letter-spacing: 1px;
                    line-height: 36px;
                    padding-bottom: 20px;
                }
            }
        }
    }
}

.login-user {
    margin-top: 20px;
}
